li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header__menu a {
    margin-left: 35px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    color: #053412;
}

header {
    display: flex;
    align-items: center;
    height: 108px;
}

.header__menu {
    display: flex;
}

.header__stroke {
    width: 14px;
    height: 6px;
    margin-bottom: 12px;
}

.header__lang {
    font-weight: 700;
    font-size: 24px;
    color: #053412;
    margin-left: 8px;
    padding-left: 0;
}

.header__logo_text {
    font-size: 24px;
    color: #45965B;
    margin-left: 16px;
}

.header__menu_body {
    background: #E9E9E9;
    border-radius: 10px;
    padding: 0px 15px 7px;
}

@media screen and (max-width: 1200px) {
    .header__menu {
        display: none;
    }

    .hero__main-body {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .last__menu {
        display: none;
    }

    .header__logo_text {
        display: none;
    }
}

.main__line {
    height: 4px;
    background: #EBEBEB;
    width: 100vw;
}

.last__menu_item {
    margin-bottom: 0;
    margin-right: 30px;
    font-size: 20px;
    color: gray;
}

.last__menu_item:hover {
    color: #053412;
}

.active {
    font-size: 20px;
    color: #053412;
}

.hero__title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    width: 100%;
    color: #64A476;
}

.hero__subtitle {
    font-size: 20px;
    color: black;
}

.hero__main-body {
    background: #DEDEDE;
    border-radius: 10px;
    padding: 44px;
}

.hero__last-body {
    background: #E3F4E8;
    border-radius: 10px;
    padding: 44px;
}

.hero__main-body_number {
    font-weight: 700;
    font-size: 64px;
    color: #933535;
}

.hero__last-body_number {
    font-weight: 700;
    font-size: 64px;
    color: #003611;
}

.hero__main-body_text {
    font-size: 32px;
    color: black;
}

.hero__last-body_text {
    font-size: 32px;
    color: black;
}

.hero__registration-text {
    font-size: 20px;
    color: black;
    margin: 0px 30px 0px 0px;
}

.hero__registration_buttton {
    border: 1px solid #767676;
    border-radius: 10px;
    padding: 8px 26px 12px;
    font-weight: 700;
    font-size: 24px;
    color: #474747;
}

.hero__child-body {
    background: #EDEDED;
    border-radius: 10px;
    width: 100%;
    padding: 16px 36px;
}

.hero__child-body_info-text {
    font-size: 20px;
    color: black;
    margin-bottom: 0;
}

.hero__child-body_info-number {
    font-weight: 700;
    font-size: 32px;
    color: black;
    margin-bottom: 0;
}

.hero__child-body_info {
    margin-left: 32px;
}

.hero__child-body_img-one {
    width: 30px;
    height: 38px;
}

.hero__child-body_img-two {
    width: 38px;
    height: 38px;
    background-color: #929292;
    border-radius: 50%;
}

.registration__body {
    background-color: #C6DBCC;
    height: 2392px;
    margin-top: 42px;
}

.registration__title {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 90px;
}

.registration__subtitle {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-top: 56px;
}

.registration__subtitle p {
    color: gray;
}
.registration__subtitle_next p {
    color: gray;
}
 .reg__form{
    width: 100%;
    height: 60px;
 }
 .reg__form_next{
    width: 45px;
    height: 45px;
 }

 input{
    border: 2px solid #64A476;
 }
 
 .reg__form::placeholder{
    padding-left: 24px;
    font-size: 24px;
 }

.checkbox {
    position: relative;
    top: 60px;
    left: -30px;
}
.reg__form_next-text{
    font-size: 22px;
    color: #000000;
    margin-bottom: 0;
    margin-left: 20px;
}
span input{
    margin-left: 62px;
}
.reg__form_text-last input{
    margin-left: 140px;
}
.registration__subtitle_next{
    display: flex;
    font-weight: 700;
font-size: 22px;
color: #000000;
}
.reg__form_next-body{
    width: 100%;
    height: 300px;
    font-size: 24px;
}